.SectionItemContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1.5rem 6.75rem;

    .ItemTitle {
        padding: 1.5rem 0;
        display: inline-block;
        color: hsl(0deg, 0%, 90%);
        font-size: 4.5rem;
        font-style: italic;
        font-weight: 600;
        text-align: left;
    }
}