.ItemContainer {
    width: 25rem;
    height: 40rem;
    background: gray;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.2rem 1.5rem 0 hsla(0, 0%, 90%, 0.4);
    .ItemProductImage {
        width: 100%;
        height: 75%;
        background: hsla(50, 0%, 100%, 0.15);
        backdrop-filter: blur(2px);
    }
    .ItemProductInfo {
        display: flex;
        flex-direction: column;
        height: 25%;
        padding: 1rem;
        background: hsla(0, 0%, 85%, 1);
        .ItemProductName {
            color: hsl(0, 0%, 0%);
            display: inline-block;
            font-size: 1.8rem;
            font-weight: 600;
            text-align: left;
            padding-bottom: 0.5rem;
        }
        .ItemProductPrice {
            text-align: left;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
}
